.counterBody {
  display: flex;
  height: 300px;
  width: 300px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
  border-radius: 10px;
}

.counterInput {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 200px;
}

.counterInput input {
  margin-bottom: 4rem;
  font-size: 2rem;
  background: linear-gradient(to left, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
  border-radius: 10px;
}

.counterInput button {
  border-radius: 10px;
  font-size: 2rem;
  background: linear-gradient(to right, #457fca, #5691c8);
  color: #ffffff;
}
