.appBody {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(to right, #56ccf2, #2f80ed);
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
}

.appList {
  display: flex;
  justify-content: center;
}
